body {
    margin: 0px;
}

.navigation_bar {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    background-color: #f2f2f2;
    height: 60px;
    padding: 8px;
    padding-right: 32px;
    padding-left: 32px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.navigation_bar .logo {
    width: 40px;
    height: 40px;
    width: 60px;
    height: 60px;
    border-radius: 8px;
}

.navigation_bar .title { 
    color: slateblue;
    margin-left: 12px;
    white-space: nowrap;
    display: inline;

}

.navigation_bar ul {
    text-align: center;
    width: 100%;
    list-style-type: none;
    display: flex;
}

.navigation_bar ul li {
 
    margin-left: 16px;
    font-size: 20px;
}

.navigation_bar ul li a{
    text-decoration: none;
    color: slateblue;
}

.navigation_bar button {
    width: 100px;
    background-color: slateblue;
    color: #f2f2f2;
    margin-left: 10px;
    height: 35px;
    border-radius: 6px;
    border-width: 0px;

}

.gallery img {
    width: 100%;
    object-fit: cover;
    height: 550px;
}

/* Service */

.services .title{
    -webkit-text-decoration: slateblue solid underline;
    text-decoration: slateblue solid underline;
    -webkit-text-underline-position: under;
    text-underline-position: under;

    font-family: Arial, Helvetica, sans-serif;
}


.services{
    padding-right: 32px;
    padding-left: 32px; 

}

.services .item {
    margin-right: 16px;
    border-radius: 8px;
    border-width: 0px;
    width: 25%; 
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.services .item img {
    border-radius: 8px; 
    /* margin-top: 4px; */
    object-fit: cover;
    /* width: 100%; */
    height: 300px;
    width: 100%;
}








/* Attractions */

.attractions {
    padding-right: 32px;
    padding-left: 32px; 

}
.attractions .title{
    -webkit-text-decoration: slateblue solid underline;
    text-decoration: slateblue solid underline;
    -webkit-text-underline-position: under;
    text-underline-position: under;
    font-family: Arial, Helvetica, sans-serif;
}

.attractions .sperator {
    height:300px;
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 32px;
    width: 1px; 
    background-color: lightgray;
}


/* Shopping */

.shopping {
    padding-right: 32px;
    padding-left: 32px; 

}
.shopping .title{
    -webkit-text-decoration: slateblue solid underline;
    text-decoration: slateblue solid underline;
    -webkit-text-underline-position: under;
    text-underline-position: under;
    font-family: Arial, Helvetica, sans-serif;

}

.shopping .item {
    margin-right: 16px;
    border-radius: 8px;
    border-width: 0px;
    width: 25%; 
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.shopping img { 
    margin-top: 8px;;
}

.shopping .more { 
    display: flex;
    width: 25%; 
    align-items: center; 
    justify-content: center;
  }

  /* Location */

.location {
    padding-right: 32px;
    padding-left: 32px; 

}
.location .title{
    -webkit-text-decoration: slateblue solid underline;
    text-decoration: slateblue solid underline;
    -webkit-text-underline-position: under;
    text-underline-position: under;
    font-family: Arial, Helvetica, sans-serif;

}



/* Buy Ticket */



.ticket {
    padding-left: 32px;
    padding-right: 32px;

}


.footer {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    background-color: #f2f2f2;
    /* height: 60px; */
    padding: 8px;
    padding-right: 32px;
    padding-left: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
}




.stories-container {
    /* display: flex; */
    /* width: 100%; */
    padding-right: 32px;
    padding-left: 32px;
    justify-content: center;
}



.stories-container .story {
    width: 33%;
    padding: 8px;
    margin: 8px;
    border: black solid;
    border-radius: 8px;
}

.story img {
    width: 50%;
    height: 180px;
    margin: 2px;
}

.user-info {
    display: flex; 
    margin: 8px;
}

.user-info img {
    width: 50px; 
    border-radius: 6px;
    border-width: 0px;
    height: 50px;
    background-color: brown;
}


.user-info div {
    margin-left: 6px;
}

.feedback {
    margin-top: 32px;
    padding-right: 32px;
    padding-left: 32px;;
    margin-bottom: 32px;
}

.feedback p{
    padding-right: 6px;
    padding-left: 6px;;

}

.feedback .item {
    border: black solid;
    border-radius: 8px; 
    width: 33% ;
    margin: 8px;
}

.footer .contact-icon {
    width: 25px;
    height: 25px;

}

.footer .contact {
    /* display: flex; */
    width: 200px;
    align-items: center;
}

.footer .copyright {
    width: 100%;
    color: slateblue;
    align-self:end;
}

